#include "resources.h"

IDR_AGMENA_W1G_FONT RCDATA "fonts/Agmena W1G.ttf"
IDR_BAR_PNG RCDATA "sv_assets/Bar.png"
IDR_BAR_BG_PNG RCDATA "sv_assets/BarBG.png"
IDR_BAR_EDGE_PNG RCDATA "sv_assets/BarEdge.png"
IDR_BAR_EDGE_2_PNG RCDATA "sv_assets/BarEdge2.png"
IDR_BLUE_PNG RCDATA "sv_assets/Blue.png"
IDR_BUDDY_WAKU_PNG RCDATA "sv_assets/BuddyWaku.png"
IDR_CONDITION_WAKU_PNG RCDATA "sv_assets/ConditionWaku.png"
IDR_DEATHBLIGHT_PNG RCDATA "sv_assets/DeathBlight.png"
IDR_FIRE_PNG RCDATA "sv_assets/Fire.png"
IDR_FROSTBITE_PNG RCDATA "sv_assets/Frostbite.png"
IDR_GREEN_PNG RCDATA "sv_assets/Green.png"
IDR_GREEN_ARROW_PNG RCDATA "sv_assets/GreenArrow.png"
IDR_HEMORRHAGE_PNG RCDATA "sv_assets/Hemorrhage.png"
IDR_HOLY_PNG RCDATA "sv_assets/Holy.png"
IDE_LIGHTNING_PNG RCDATA "sv_assets/Lightning.png"
IDR_MADNESS_PNG RCDATA "sv_assets/Madness.png"
IDR_MAGIC_PNG RCDATA "sv_assets/Magic.png"
IDR_POISON_PNG RCDATA "sv_assets/Poison.png"
IDR_RED_PNG RCDATA "sv_assets/Red.png"
IDE_RED_ARROW_PNG RCDATA "sv_assets/RedArrow.png"
IDR_SCARLET_ROT_PNG RCDATA "sv_assets/ScarletRot.png"
IDR_SLEEP_PNG RCDATA "sv_assets/Sleep.png"
IDR_YELLOW_PNG RCDATA "sv_assets/Yellow.png"