#include "resources.h"

IDR_AGMENA_W1G_FONT RCDATA "fonts/Agmena W1G.ttf"
IDR_PNG_BAR RT_PNG "sv_assets/Bar.png"
IDR_PNG_BARBG RT_PNG "sv_assets/BarBG.png"
IDR_PNG_BAREDGE RT_PNG "sv_assets/BarEdge.png"
IDR_PNG_BAREDGE2 RT_PNG "sv_assets/BarEdge2.png"
IDR_PNG_BLUE RT_PNG "sv_assets/Blue.png"
IDR_PNG_BUDDYWAKU RT_PNG "sv_assets/BuddyWaku.png"
IDR_PNG_CONDITIONWAKU RT_PNG "sv_assets/ConditionWaku.png"
IDR_PNG_DEATHBLIGHT RT_PNG "sv_assets/DeathBlight.png"
IDR_PNG_FIRE RT_PNG "sv_assets/Fire.png"
IDR_PNG_FROSTBITE RT_PNG "sv_assets/Frostbite.png"
IDR_PNG_GREEN RT_PNG "sv_assets/Green.png"
IDR_PNG_GREENARROW RT_PNG "sv_assets/GreenArrow.png"
IDR_PNG_HEMORRHAGE RT_PNG "sv_assets/Hemorrhage.png"
IDR_PNG_HOLY RT_PNG "sv_assets/Holy.png"
IDR_PNG_LIGHTNING RT_PNG "sv_assets/Lightning.png"
IDR_PNG_MADNESS RT_PNG "sv_assets/Madness.png"
IDR_PNG_MAGIC RT_PNG "sv_assets/Magic.png"
IDR_PNG_POISON RT_PNG "sv_assets/Poison.png"
IDR_PNG_RED RT_PNG "sv_assets/Red.png"
IDR_PNG_REDARROW RT_PNG "sv_assets/RedArrow.png"
IDR_PNG_SCARLETROT RT_PNG "sv_assets/ScarletRot.png"
IDR_PNG_SLEEP RT_PNG "sv_assets/Sleep.png"
IDR_PNG_YELLOW RT_PNG "sv_assets/Yellow.png"